<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<title>メニュー管理</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>

<h1>メニュー管理</h1>

</header>

<main class="container">

{% if menus %}

{% for menu in menus %}

<div class="admin-card">

<h3>{{ menu.name }}</h3>

<p>料金：{{ menu.price }} 円</p>

<p>施術時間：{{ menu.duration }} 分</p>

<button>編集</button>

<form action="/admin/menu/update" method="POST">

<input type="hidden"
name="menu_id"
value="{{menu.menu_id}}">

<input
name="name"
value="{{menu.name}}">

<input
name="price"
value="{{menu.price}}">

<input
name="duration"
value="{{menu.duration}}">

<button type="submit">
更新
</button>

</form>

<button>削除</button>

<form action="/admin/menu/delete" method="POST">

<input 
type="hidden"
name="menu_id"
value="{{ menu.menu_id }}"
>

<button type="submit">
削除
</button>

</form>

</div>

{% endfor %}

{% else %}

<p class="message">

メニューがありません。

</p>

{% endif %}

<button>

＋ メニュー追加

</button>

<form action="/admin/menu/add" method="POST">

<input name="name" placeholder="メニュー名">

<input name="price" placeholder="料金">

<input name="duration" placeholder="時間">

<button type="submit">
追加
</button>

</form>

<button onclick="location.href='/admin'">

戻る

</button>

</main>

</body>

</html>