<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>予約管理</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>

<h1>予約管理</h1>

</header>

<main class="container">

{% if reservations %}

{% for reservation in reservations %}

<div class="admin-card">

<p><strong>予約ID：</strong>{{ reservation.id }}</p>

<p><strong>会員ID：</strong>{{ reservation.user_id }}</p>

<p><strong>予約日：</strong>{{ reservation.date }}</p>

<p><strong>時間：</strong>{{ reservation.time }}</p>

<p><strong>現在の状態：</strong>{{ reservation.status }}</p>

<button type="button"
onclick="showEdit('{{reservation.id}}')">予約ステータス変更</button>

<!-- 編集フォーム -->

<div id="edit-{{reservation.id}}"style="display:none;">
<form action="/admin/reservation/status"method="POST">

<input
type="hidden"
name="reservation_id"
value="{{reservation.id}}">

<div class="form-group">

<label>ステータス</label>

<select name="status">

<option value="reserved"
{% if reservation.status == "reserved" %}
selected
{% endif %}>予約中</option>

<option value="completed"
{% if reservation.status == "completed" %}
selected
{% endif %}>完了</option>

<option value="cancelled"
{% if reservation.status == "cancelled" %}
selected
{% endif %}>キャンセル</option>

</select>

</div>

<button type="submit">更新</button>

</form>

</div>

</div>

{% endfor %}

{% else %}


<p class="message">予約はありません</p>

{% endif %}

<button onclick="location.href='/admin'">

戻る

</button>

</main>

<script>

function showEdit(id){
    const form =
    document.getElementById(
        "edit-" + id
    );

    if(form.style.display === "none"){
        form.style.display = "block";
    }
    else{
        form.style.display = "none";
    }
}

</script>

</body>

</html>