<!DOCTYPE html>
<html lang="ja">

<head>

<meta charset="UTF-8">

<title>美容師管理</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

<h1>美容師管理</h1>

</header>

<main class="container">

{% if stylists %}

{% for stylist in stylists %}

<div class="admin-card">

<h3>{{ stylist.name }}</h3>

<p>

休み：

{{ stylist.holiday|join(", ") }}

</p>

<button type="button"
onclick="showEdit('{{stylist.stylist_id}}')">編集</button>

<form action="/admin/stylist/add" method="POST">

<input 
type="hidden"
name="stylist_id"
value="{{stylist.stylist_id}}">

<button type="submit">削除</button>

</form>

<!-- 編集フォーム -->

<div id="edit-{{stylist.stylist_id}}"
style="display:none;">

<form action="/admin/stylist/update"
method="POST">

<input 
type="hidden"
name="stylist_id"
value="{{stylist.stylist_id}}">

<label>美容師名</label>

<input 
name="name"
value="{{stylist.name}}">

<label>休日</label>

<input 
name="holiday"
value="{{stylist.holiday|join(',')}}">

<button type="submit">更新</button>

</form>

</div>

</div>

{% endfor %}

{% else %}

<p class="message">美容師が登録されていません。</p>

{% endif %}

<button type="button"
onclick="showAdd()">

＋ 美容師追加

</button>

<div id="add-stylist"
style="display:none;">

<form action="/admin/stylist/add"
method="POST">

<input 
name="name"
placeholder="美容師名">

<input 
name="holiday"
placeholder="休日（例:2026-07-20,2026-07-25）">

<button type="submit">追加</button>

</form>
</div>

<button onclick="location.href='/admin'">戻る</button>

</main>

<script>
function showEdit(id){
    const form =
    document.getElementById(
        "edit-" + id
    );

    if(form.style.display === "none"){
        form.style.display="block";
    }
    else{
        form.style.display="none";
    }
}

function showAdd(){
    const area =
    document.getElementById(
        "add-stylist"
    );

    if(area.style.display==="none"){
        area.style.display="block";
    }
    else{
        area.style.display="none";
    }
}

</script>



</body>

</html>