# Python
__pycache__/
*.py[cod]
venv/
.venv/

# pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Node.js
node_modules/

# VSCode
.vscode/

# Environment
.env

# Build
dist/
build/

# macOS
.DS_Store

# Windows
Thumbs.db

# R
.Rhistory
.RData
.Rproj.user/