<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ページタイトル -->
    <title>Salon Booking System</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- ヘッダー -->
    <header>
        <h1>タイトル（仮）</h1>
        <p>文（仮）</p>
    </header>

    <!-- メニュー -->
    <main class="menu">

        <button onclick="location.href='/reservation'">
            予約する
        </button>

        <button onclick="location.href='/reservation/list'">
            予約一覧
        </button>

        <button onclick="location.href='/login'">
            ログイン
        </button>

        <button onclick="location.href='/register'">
            新規登録
        </button>

        <button onclick="location.href='/history'">
         予約履歴
        </button>

    </main>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>